body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.list {
  list-style-type: none; /* Убираем маркеры */
}

.link {
  text-decoration: none;
}

ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

a:not(.logo):hover,
a:not(.logo):focus {
  color: #2196f3;
  fill: #2196f3;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
