$title-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$logo-color: #000000;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$social-link-color: #afb1b8;

$dark-bg-color: #2f303a;
$team-bg-color: #f5f4fa;
$features-bgc: #f5f4fa;
$btn-portfolio-bgc: #f5f4fa;
$hero-bg-color: #c4c4c4;
$social-link-bg-color: rgba(255, 255, 255, 0.1);
$about-bg-color: rgba(47, 48, 58, 0.8);
$portfolio-img-bg: rgba(33, 150, 243, 0.9);

$border-color-header: #ececec;
$border-color-card: #eeeeee;

$logo-font-family: Raleway, sans-serif;
$main-font-family: Roboto, sans-serif;

$main-font-size: 14px;
$main-letter-spacing: 0.03em;

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
