.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .page-header {
    padding: 10px 0;
  }

  border-bottom: 1px solid $border-color-header;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    padding: 26px 0;
  }

  .nav {
    display: flex;
    align-items: center;

    &__list {
      display: flex;
      align-items: center;
      @media screen and (min-width: 768px) {
        margin-left: 88px;
      }
      @media screen and (min-width: 1200px) {
        margin-left: 93px;
      }
    }

    &__item {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }

    &__link {
      position: relative;
      padding-top: 32px;
      padding-bottom: 32px;

      color: $title-color;
      font-weight: 500;
      font-size: $main-font-size;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;

      transition: color $transition-duration $transition-timing-function;
    }

    &__link.active::after {
      position: absolute;
      bottom: -4px;
      content: "";
      display: block;

      background: currentColor;
      border-radius: 2px;
      height: 4px;
      width: 100%;
      @media screen and (min-width: 1200px) {
        bottom: 0px;
      }
    }
    &__link::after {
      position: absolute;
      bottom: -4px;
      content: "";

      display: block;

      background: transparent;
      border-radius: 2px;
      height: 4px;
      width: 100%;
      @media screen and (min-width: 1200px) {
        bottom: 0px;
      }

      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:hover:after,
    &__link:focus:after {
      opacity: 1;
      background: #2196f3;
    }
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding: 0px;
  }
}
.active {
  color: $accent-color;
}

@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      color: $primary-text-color;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      text-decoration: none;
      transition: color $transition-duration $transition-timing-function;

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }

    &__svg-mail {
      margin-right: 8px;
      fill: currentColor;
      width: 14px;
      height: 10px;
    }

    &__svg-phone {
      margin-right: 8px;
      fill: currentColor;
      width: 10px;
      height: 14px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    align-items: center;
    flex-direction: row;

    &__link {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: $main-font-size;
      line-height: 1.14;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 50px;
        margin-bottom: 0;
      }
    }

    &__svg-mail {
      width: 16px;
      height: 12px;
      margin-right: 10px;
    }

    &__svg-phone {
      width: 10px;
      height: 16px;
      margin-right: 10px;
    }
  }
}

// .page-header {
//   padding-top: 24px;
//   padding-bottom: 25px;
//   border-bottom: 1px solid #ececec;
//   & .container {
//     display: flex;
//     align-items: center;
//   }
// }

// // .page-header .container {
// //   display: flex;
// //   align-items: center;
// // }

// .nav {
//   display: flex;
//   align-items: center;
//   &__list {
//     display: flex;
//     align-items: center;
//     margin-left: 93px;
//   }
//   &__item:not(:last-child) {
//     margin-right: 50px;
//   }
//   &__link {
//     position: relative;
//   }
//   &__link.active::after {
//     position: absolute;
//     bottom: -32px;
//     content: "";
//     display: block;

//     background: currentColor;
//     border-radius: 2px;
//     height: 4px;
//     width: 100%;
//   }
//   &__link::after {
//     position: absolute;
//     bottom: -32px;
//     content: "";

//     display: block;

//     background: transparent;
//     border-radius: 2px;
//     height: 4px;
//     width: 100%;

//     transition-property: background-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   &__link:hover:after,
//   &__link:focus:after {
//     opacity: 1;
//     background: #2196f3;
//   }
//   &__link {
//     text-decoration: none;
//     font-family: Roboto;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.142;
//     letter-spacing: 0.02em;

//     color: #212121;

//     transition-property: color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .active {
//   color: #2196f3;
// }

// // Проуерить или работает, фокус должен работать на всех ссылках
// // .nav-list-link:hover,
// // .nav-list-link:focus {
// //   color: #2196f3;
// // }

// .contacts-list-link {
//   text-decoration: none;
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.142;
//   letter-spacing: 0.02em;

//   color: #757575;

//   display: flex;
//   align-items: center;

//   transition-property: color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//   &__svg-mail {
//     width: 16px;
//     height: 12px;
//     margin-right: 10px;
//     margin-left: auto;
//     fill: currentColor;
//   }

//   &__svg-phone {
//     margin-right: 10px;

//     fill: currentColor;
//     width: 10px;
//     height: 16px;
//   }

//   &--tel {
//     margin-left: 50px;
//     margin-right: 0px;
//   }

//   &--mail {
//     margin-left: auto;
//   }
// }
